{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.component.scss", "*.component.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
