<button
  *ngIf="!showControl; else showControlRef"
  mat-raised-button
  color="primary"
  type="button"
  class="w-full"
  (click)="showControl = !showControl"
>
  <mat-icon>add_circle_outline</mat-icon>
  Add Exercise
</button>

<ng-template #showControlRef>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Add Exercise</mat-label>
      <input type="text" matInput [formControl]="exerciseSearchControl" [matAutocomplete]="auto" appAutoFocus />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectExercise($event)">
        <mat-option *ngFor="let exercise of filteredExercises | async" [value]="exercise.id">
          {{ exercise.name }}
          <span class="text-sm opacity-70">{{ exercise.requisiteUsed ? '/' + exercise.requisiteUsed : '' }}</span>
          <span class="text-sm text-primary opacity-70"
            >&nbsp;/{{ exercise.primaryMuscleTargeted?.popularName ?? exercise.primaryMuscleTargeted?.name }}</span
          >
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</ng-template>
