button {
  --mdc-filled-button-container-height: 56px;
  --mdc-filled-button-container-shape: 4px;
  --mdc-filled-button-label-text-size: 18px;

  --mdc-protected-button-container-height: 56px;
  --mdc-protected-button-label-text-size: 20px;
}

//mat-icon size
.mat-mdc-button > .mat-icon,
.mat-mdc-unelevated-button > .mat-icon,
.mat-mdc-raised-button > .mat-icon,
.mat-mdc-outlined-button > .mat-icon {
  // display: inline-block;
  // position: relative;
  // vertical-align: top;
  font-size: 2.125rem;
  height: 2.125rem;
  width: 2.125rem;
}

button.set-button {
  --mdc-outlined-button-container-height: 40px;
  --mdc-outlined-button-container-shape: 12px;
  --mdc-outlined-button-label-text-size: 18px;
}

button.set-add {
  --mdc-filled-button-container-color: #004f4f;
  --mdc-filled-button-label-text-color: #00fbfb;
  width: 96px;
  padding: 0;
  --mdc-filled-button-container-shape: 12px;
}
