<div class="flex w-full flex-col gap-4">
  <button
    *ngFor="let workout of list"
    mat-raised-button
    color="primary"
    type="button"
    class="w-full"
    (click)="copyToClipboard(workout)"
  >
    <div class="flex items-center gap-2">
      {{ workout.dateCreated | date }}
      <span *ngIf="workout.isEdit" class="rounded-full bg-primary px-2 py-0.5 text-xs text-black opacity-50"
        >Updated</span
      >
      <span *ngIf="workout.isLocal" class="rounded-full bg-primary px-2 py-0.5 text-xs text-black opacity-50"
        >Unsaved</span
      >
    </div>
  </button>
</div>
